#about-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
}

#about {
    align-self: flex-end;
}

button {
    padding: 10px;
    margin-top: 15px;
}

#calendar {
    width: 40%;
    overflow-y: auto;
}

.calendar-item {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.class {
    width: 30%;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #bdbdbd;
    justify-content: space-around;
}

#classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#classes-inner {
    width: 100%;
}

.close {
    padding-bottom: 10px;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fitness-images {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

#header {
    width: 100%;
    height: 650px;
    text-align: center;
    background-image: url(./Images/group.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#login-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

#login-form {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    display: none;
}

.main {
    display: flex;
    flex-direction: row; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Yeseva One', cursive;

}

p {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
}

select {
    padding: 5px;
    display: initial;
}

@media only screen and (max-width: 750px) {  
    .app {
        flex-direction: column;
    }

    #calendar {
        width: 100%;
        margin-bottom: 25px;
    }

    #classes-outer {
        width: 100%
    }

    .main {
        height: auto;
    }
  }

  @media only screen and (max-width: 550px) { 
    .description {
        flex-direction: column !important;
    } 

    .description h3 {
        margin-bottom: 0;
    }
}

  @media only screen and (max-width: 375px) {     
    h1 {
        font-size: 2em;
    }

    #header {
        height: 150px;
    }
  }