#about-container {
    width: 100%;
    height: 100%;
}

#about {
    align-self: flex-end;
    z-index: -1;
}

.btn {
    margin: 15px;
}

#calendar {
    width: 25%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: #DFDFDF 2px 2px 5px;
}

#calendar > div:first-of-type {
    width: 100%;
}

.calendar-item {
    text-align: center;
    width: 75%;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.class {
    width: 30%;
    height: 1000px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
}

#classInfo {
    width: 30%;
}

#classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#classes-inner {
    width: 100%;
}

.close {
    padding: 10px;
    cursor: pointer;
}

.collapsible-body {
    border-bottom: none;
}

.collapsible-header {
    min-height: 5rem;
    font-size: 3rem;
    font-family: 'Yeseva One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a1b9a;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    padding-bottom: 25px;
    width: 35%;

}

#enroll {
    float: right;
}

.fitness-images {
    width: 100%;
    height: auto;
}

#footer {
    display: flex;
}

h2, h3 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #aaaaaa;
    text-shadow: 1.5px 1px 1px black;
}

h4 {
    text-align: center;
}

h5 {
    font-family: 'Yeseva One', cursive;
    text-shadow: 1.5px 1px 1px white;
}

#header {
    width: 100%;
    height: 650px;
    text-align: center;
    background-image: url(./Images/group.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hide {
    visibility: hidden;
}

#address-card {
    text-align: center;
}

#login-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

#login-form {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    display: none;
}

#main {
    position: relative;
    background-color: white;
}

.minimize {
    align-self: flex-end;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Yeseva One', cursive;
    z-index: 1000;
}

p {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
}

select {
    padding: 5px;
    display: initial;
}
