#address-card {
    text-align: center;
}

.btn {
    margin: 15px;
}

#calendar {
    width: 30%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: #DFDFDF 2px 2px 5px;
}

#calendar > div:first-of-type {
    width: 100%;
}

.calendar-item {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.class {
    width: 30%;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
}

#classInfo {
    width: 30%;
}

#classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#classes-inner {
    width: 100%;
}

.close {
    padding: 10px;
    cursor: pointer;
}

.collapsible-body {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsible-header {
    min-height: 5rem;
    font-size: 2.5rem;
    font-family: 'Yeseva One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a1b9a;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    padding-bottom: 25px;
    width: 35%;

}

#enroll {
    float: right;
}

.fitness-images {
    width: 100%;
    height: auto;
}

form {
    height: 945px;
    width: 100%;
}

#footer {
    display: flex;
}

h2, h3 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #aaaaaa;
    text-shadow: 1.5px 1px 1px black;
}

h4 {
    text-align: center;
    min-height: 75px;
}

h5 {
    text-align: center;
    font-family: 'Yeseva One', cursive;
    text-shadow: 1.5px 1px 1px white;
    min-height: 50px;
}

#header {
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hide {
    visibility: hidden;
}

.input-field {
    width: 90%;
}

#login-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

#login-form {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    display: none;
}

#main {
    position: relative;
    background-color: white;
}

.minimize {
    align-self: flex-end;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Yeseva One', cursive;
    z-index: 1000;
}

#offer {
    background-color: rgb(206, 147, 216, .85)
}

#offer-container {
    position: absolute;
    top: 70px;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
}

.row {
    display: flex;
}

select {
    padding: 5px;
    display: initial;
}

@media only screen and (min-width: 300px) {
    #header {
        background-image: url(./Images/Group-S.jpg);
        min-height: 300px;
    }
}

@media only screen and (min-width: 500px) {
    #header {
        background-image: url(./Images/Group-M.jpg);
        min-height: 400px;
    }
}

@media only screen and (min-width: 800px) {
    #header {
        background-image: url(./Images/Group-L.jpg);
        min-height: 600px;
    }
}

@media only screen and (min-width: 1200px) {
    #header {
        background-image: url(./Images/Group-XL.jpg);
        min-height: 800px;
    }
}

@media only screen and (min-width: 1800px) {
    #header {
        background-image: url(./Images/Group-XXL.jpg);
        min-height: 1000px;
    }
}

@media only screen and (max-width: 1000px) {
    #contact {
        width: 90%;
    }
    
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 750px) {
    #classes {
        flex-direction: column;
        align-items: center;
    }

    #classInfo {
        width: 90%;
    }

    .class {
        width: 90%;
    }

    #calendar {
        width: 100%;
    }

    form {
        height: auto;
    }
  }